@charset "UTF-8";
/* line 2, ../scss/base/_base.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 7, ../scss/base/_base.scss */
body {
  margin: 0; }

/* line 10, ../scss/base/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 13, ../scss/base/_base.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 17, ../scss/base/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 21, ../scss/base/_base.scss */
[hidden], template {
  display: none; }

/* line 24, ../scss/base/_base.scss */
a {
  background: 0 0; }

/* line 27, ../scss/base/_base.scss */
a:active, a:hover {
  outline: 0; }

/* line 30, ../scss/base/_base.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 33, ../scss/base/_base.scss */
b, strong {
  font-weight: 700; }

/* line 36, ../scss/base/_base.scss */
dfn {
  font-style: italic; }

/* line 39, ../scss/base/_base.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 43, ../scss/base/_base.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 47, ../scss/base/_base.scss */
small {
  font-size: 80%; }

/* line 50, ../scss/base/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 56, ../scss/base/_base.scss */
sup {
  top: -0.5em; }

/* line 59, ../scss/base/_base.scss */
sub {
  bottom: -0.25em; }

/* line 62, ../scss/base/_base.scss */
img {
  border: 0; }

/* line 65, ../scss/base/_base.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 68, ../scss/base/_base.scss */
figure {
  margin: 1em 40px; }

/* line 71, ../scss/base/_base.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 76, ../scss/base/_base.scss */
pre {
  overflow: auto; }

/* line 79, ../scss/base/_base.scss */
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

/* line 83, ../scss/base/_base.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 88, ../scss/base/_base.scss */
button {
  overflow: visible; }

/* line 91, ../scss/base/_base.scss */
button, select {
  text-transform: none; }

/* line 94, ../scss/base/_base.scss */
button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 98, ../scss/base/_base.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 101, ../scss/base/_base.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 105, ../scss/base/_base.scss */
input {
  line-height: normal; }

/* line 108, ../scss/base/_base.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

/* line 112, ../scss/base/_base.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

/* line 115, ../scss/base/_base.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 121, ../scss/base/_base.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 124, ../scss/base/_base.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 129, ../scss/base/_base.scss */
legend {
  border: 0;
  padding: 0; }

/* line 133, ../scss/base/_base.scss */
textarea {
  overflow: auto; }

/* line 136, ../scss/base/_base.scss */
optgroup {
  font-weight: 700; }

/* line 139, ../scss/base/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 143, ../scss/base/_base.scss */
td, th {
  padding: 0; }

/* line 146, ../scss/base/_base.scss */
ul {
  list-style: none; }

/* line 149, ../scss/base/_base.scss */
li, ul {
  margin: 0;
  padding: 0; }

/* line 153, ../scss/base/_base.scss */
a {
  color: #686868;
  text-decoration: none; }

/* line 157, ../scss/base/_base.scss */
body, html {
  width: 100%;
  height: 100%;
  background-color: #fff; }

/* line 162, ../scss/base/_base.scss */
body {
  background-color: #fff;
  color: #585656;
  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","黑体",Arial,sans-serif;
  font-size: 14px;
  line-height: 19.6px; }

/* line 169, ../scss/base/_base.scss */
.fl {
  float: left; }

/* line 172, ../scss/base/_base.scss */
.fr {
  float: right; }

/* line 175, ../scss/base/_base.scss */
.tc {
  text-align: center; }

/* line 179, ../scss/base/_base.scss */
.fix {
  *zoom: 1;
  overflow: hidden; }

/* line 1, ../scss/layout/_homebanner.scss */
.index_banner {
  background-color: #000; }

/* line 2, ../scss/layout/_main.scss */
.header {
  padding: 30px 0;
  width: 100%; }
  /* line 4, ../scss/layout/_main.scss */
  .header .logo {
    display: block;
    width: 275px;
    padding-left: 205px;
    height: 93px;
    line-height: 93px;
    color: #d79c0e;
    font-size: 19px;
    background: url('../img/logo.png?1429856634') no-repeat left center;
    position: relative; }
    /* line 14, ../scss/layout/_main.scss */
    .header .logo:before {
      position: absolute;
      content: '';
      width: 1px;
      height: 93px;
      background-color: #ededed;
      left: 184px;
      top: 0px; }
  /* line 24, ../scss/layout/_main.scss */
  .header .nav {
    margin-top: 35px; }
    /* line 26, ../scss/layout/_main.scss */
    .header .nav li {
      float: left;
      margin-left: 50px;
      display: inline; }
      /* line 28, ../scss/layout/_main.scss */
      .header .nav li a {
        color: #000;
        font-size: 16px;
        display: block;
        text-align: center; }
        /* line 33, ../scss/layout/_main.scss */
        .header .nav li a span {
          -webkit-text-size-adjust: none;
          color: #ccc9c9;
          font-size: 8px;
          display: block;
          -webkit-transform: scale(0.715);
          transform: scale(0.715); }
        /* line 41, ../scss/layout/_main.scss */
        .header .nav li a.cur {
          color: #ce9b00; }
          /* line 43, ../scss/layout/_main.scss */
          .header .nav li a.cur span {
            color: #ce9b00; }

/* line 55, ../scss/layout/_main.scss */
#navslide {
  background: #ce9b00;
  height: 3px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 65px;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

/* line 68, ../scss/layout/_main.scss */
#navslide.selNav1 {
  left: 890px;
  top: 105px; }

/* line 72, ../scss/layout/_main.scss */
#navslide.selNav2 {
  width: 92px;
  left: 215px; }

/* line 76, ../scss/layout/_main.scss */
#navslide.selNav3 {
  width: 92px;
  left: 407px; }

/* line 82, ../scss/layout/_main.scss */
.inwrap {
  width: 1000px;
  margin: 0 auto; }

/* line 84, ../scss/layout/_main.scss */
.container {
  width: 100%;
  background: url('../img/container_bg.png?1429856633') repeat-x;
  background-position: 0 480px; }

/* line 90, ../scss/layout/_main.scss */
.index_banner {
  width: 100%;
  background-color: #0b2777;
  height: 588px; }

/* line 97, ../scss/layout/_main.scss */
.pro_list ul {
  margin-left: -80px; }
/* line 100, ../scss/layout/_main.scss */
.pro_list li {
  float: left;
  width: 459px;
  height: 250px;
  padding: 50px 0;
  margin-left: 80px;
  display: inline; }

/* line 114, ../scss/layout/_main.scss */
.txt_box {
  font-size: 20px;
  color: #393b42;
  font-weight: normal;
  width: 243px; }
  /* line 119, ../scss/layout/_main.scss */
  .txt_box h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid #cbcbcb;
    position: relative;
    margin-bottom: 0;
    font-size: 20px; }
    /* line 125, ../scss/layout/_main.scss */
    .txt_box h2:after {
      display: block;
      width: 70px;
      height: 3px;
      background: #6f6c68;
      position: absolute;
      content: '';
      right: 0;
      bottom: 0; }
  /* line 136, ../scss/layout/_main.scss */
  .txt_box p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px; }

/* line 144, ../scss/layout/_main.scss */
.footer {
  background: url('../img/footer.png?1429856634') no-repeat;
  width: 100%;
  height: 169px; }
